In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Adult.csv')
df.head()

,age,workclass,educationnum,education,maritial-status,occupation,Relationship,race,gender,capitalgain,capitalloss,hoursperweek,nativecountry,salary
0,9.0,state-govt,77516.0,Bachelors,NeverMarried,Adm-clerical,Not-in-family,white,male,2174,0.0,40,US,<=50K
1,56.0,private,44563.0,master,married,supervisor,sister,white,male,3425,98.0,18,UK,67K
2,25.0,government,34567.0,doctor,divorce,student,father,black,male,2345,45.0,22,INDIA,23K
3,34.0,private,12456.0,researcher,single,student,brother,black,female,2123,0.0,34,BRAZIL,45K
4,56.0,private,23432.0,Bachelors,married,postman,uncle,black,female,2456,0.0,20,AUSTRIA,45K

In [3]:
df.shape

(29, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              26 non-null     float64
 1   workclass        28 non-null     object
 2   educationnum     28 non-null     float64
 3   education        29 non-null     object
 4   maritial-status  29 non-null     object
 5   occupation       29 non-null     object
 6   Relationship     29 non-null     object
 7   race             29 non-null     object
 8   gender           29 non-null     object
 9   capitalgain      29 non-null     object
 10  capitalloss      28 non-null     float64
 11  hoursperweek     29 non-null     int64
 12  nativecountry    29 non-null     object
 13  salary           28 non-null     object
dtypes: float64(3), int64(1), object(10)
memory usage: 3.3+ KB

In [ ]:
subset1 = df[['workclass', 'education', 'capital-gain']]
subset1.head()