In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
df = pd.read_csv('AirQualityUCI.csv', sep=',', encoding='utf-8-sig')

In [24]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [25]:
df.shape

(9471, 15)

In [27]:
df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10-03-2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,10-03-2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,10-03-2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,10-03-2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,10-03-2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9357 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.1+ MB

In [29]:
df.replace(-200, np.nan, inplace=True)

In [30]:
df.dropna(subset=['CO(GT)'], inplace=True)

In [11]:
df.columns = df.columns.str.strip().str.replace('\ufeff', '', regex=True)
_ = df.columns
df.columns = df.columns.str.replace(';', '', regex=False)

In [12]:

df.rename(columns={
    'T': 'Temperature',
    'RH': 'Relative Humidity',
    'AH': 'Absolute Humidity'
}, inplace=True)

In [13]:
df.columns

Index(['Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,,'], dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 1 columns):
 #   Column                                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                                        --------------  -----
 0   Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,,  9471 non-null   object
dtypes: object(1)
memory usage: 74.1+ KB

In [15]:
df.describe()

       Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,,
count                                                9471
unique                                               9358
top                                      ,,,,,,,,,,,,,,,,
freq                                                  114

In [16]:
df = df.rename(columns={'T': 'Temperature', 'RH': 'Relative Humidity', 'AH': 'Absolute Humidity'})
df.columns

Index(['Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,,'], dtype='object')

In [17]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.shape

(9471, 1)

In [19]:
# =========================================
# Step: Converting numeric columns safely
# =========================================

# These are the main numeric columns we will use
num_cols = ['CO(GT)', 'C6H6(GT)', 'Temperature', 'Relative Humidity', 'Absolute Humidity']

# Basic loop with existence check so no KeyError happens
for col in num_cols:
    if col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].str.replace(',', '.')
        df[col] = pd.to_numeric(df[col], errors='coerce')
    else:
        # simple student-style placeholder variable, no print
        _ = f"{col} not found, skipping"

# small check to make sure all numeric columns are handled
_ = df[num_cols].dtypes

KeyError: "None of [Index(['CO(GT)', 'C6H6(GT)', 'Temperature', 'Relative Humidity',\n       'Absolute Humidity'],\n      dtype='object')] are in the [columns]"

In [ ]:
df.isna().sum()