In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Amazonbookreviews.csv')
df.head()

,reviewerID,asin,reviewername,helpful,reviewerText,overallRating,Summary,UnixreviewTime,reviewTime
0,A2SUAM1J3GNN3B,23456.0,SNEHA,2,I bought this for my husband who plays the pia...,4.0,SUBWAY SURF,NaN,NaN
1,A2SUAN1J3GNN0C,879877.0,KARTHII,3,good book to read,3.0,PILOT,NaN,NaN
2,A2SUAN1J3GNN7B,23456.0,SHASHANK,3,high cost,2.5,DRIVE IN HEAVEN,NaN,NaN
3,A5SUAN1J3GNN9B,67578.0,NITIN,3,good useof book,2.2,SPORTS HEAVEN,NaN,NaN
4,A1SUAM1J3GNN3B,123.0,PRANOTI,3,I m happy with the book,3.0,HEAVEN OF PEARLS,NaN,NaN

In [5]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      43 non-null     object
 1   asin            43 non-null     float64
 2   reviewername    44 non-null     object
 3   helpful         45 non-null     int64
 4   reviewerText    45 non-null     object
 5   overallRating   45 non-null     float64
 6   Summary         45 non-null     object
 7   UnixreviewTime  0 non-null      float64
 8   reviewTime      0 non-null      float64
dtypes: float64(4), int64(1), object(4)
memory usage: 3.3+ KB

In [7]:
subset2 = df[['reviewText', 'summary', 'reviewTime']]
subset2.head()

KeyError: "['reviewText', 'summary'] not in index"